   <fieldset>
        <form action="/" method="post">
          <input name="title" type="text" class="ghost-input" placeholder="Enter a Book Title" required>
          <input type="submit" class="ghost-button" value="Search For Title">

        </form>
        <form action = "/wishlist">
          <input type="submit" class="ghost-button" value="View Wish List">
        </form>

        
      </fieldset>

    </div>