<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


<div class="container">

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.title %> - <%= r.author %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
