<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book review</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>
  <body>
    <div class="container">
      <fieldset>
                <h2 id="error"> The book was removed from your wishlist</h2>
                <% include ../partials/search.ejs %>
            <form action="/">
            <input type="submit" class="ghost-button" value="View Wish List">

        </form>

      </fieldset>
       
    </div>
  </body>
</html>
