<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Book Results</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>
  <body>
    
      <fieldset>
      <p> You picked </p>
      <h3>TITLE</h3><%=bookTitle%><p><img src="<%=bookPic%>" alt="<%bookTitle%>"></p>
      <h3>AUTHOR</h3><%=bookAuthor%>
      <h3>RATING</h3><%=bookRate%> Stars


      </fieldset>

      <button id="add">Click to Add to Wish List</button>
      <form action = "/wishlist">
          <input type="submit" class="ghost-button" value="View Wish List">
        </form>

        <form action = "/">
          <input type="submit" class="ghost-button" value="Search For Another Title">
        </form>
    </div>
  </body>
</html>