<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book review</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>
  <body>
    <div class="container">
      <fieldset>
                <h2 style="font: red"> There was an Error: Please try again</h2>
                <% include ../partials/search.ejs %>
        
      </fieldset>
       
    </div>
  </body>
</html>
