<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book review</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>
  <body>
    <% include ../partials/search.ejs %>
  </body>
</html>
