<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book review</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="title" type="text" class="ghost-input" placeholder="Enter a Book Title" required>
          <input type="submit" class="ghost-button" value="Get Title">

        </form>
        <form action = "/wishlist">
          <input type="submit" class="ghost-button">
        </form>

        
      </fieldset>
    </div>
  </body>
</html>
