<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


<div class="container">
<h2>Your Wishlist</h2>

<table>
	<tr>

		
		<th>TITLE</th>
		<th>AUTHOR</th>
		<th>RATE</th>
		<th></th>
	</tr>
	
	<tr>
		<% results.forEach(function(r) { %>
		<td><%= r.title %></td> <% }); %><% results.forEach(function(r) { %>
		<td><%= r.author %></td><% }); %><% results.forEach(function(r) { %>
		<td><%= r. rate %></td><% }); %>
		<td> remove</td>
		 <% }); %>
	</tr>
	


</table>

    
        
   

</div>

</body>
</html>
