<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


<div class="container">
<h2>Your Wishlist</h2>
<% results.forEach(function(r) { %>
<table>
	<tr>
		<th></th>
		<th>TITLE</th>
		<th>AUTHOR</th>
		<th>RATE</th>
		<th></th>
	</tr>
	<tr>
		<td> <img src="<%= r.pic %>"></td>
		<td><%= r.title %></td>
		<td><%= r.author %></td>
		<td><%= r. rate %></td>
		<td> remove</td>
	</tr>
	


</table>

    
        
    <% }); %>

</div>

</body>
</html>
